<h1 class = "text-center">Welcome to:</h1>
<h2 class = "text-center">Pets Diet Unleashed</h2>

<div class = "text-center">
<%= link_to "Log In", login_path, class: "btn btn-primary btn-lg btn-block" %>
<%= link_to "Sign Up", new_user_path, class: "btn btn-primary btn-lg btn-block" %>

<%= link_to '/auth/github' , class: "btn btn-block btn-social btn-github" do %>
  <span class="fa fa-github"> </span>Log In With Github
<% end %>

</div>
