<h1>User Information</h1>


<h3><%= @current_user.name %></h3>

<ul>
  <li>User Name: <%= @current_user.username %></li>
  <li>Email: <%= @current_user.email %></li>
  <li>You have <%= @current_user.pets.count %> pet(s) profiles created</li>
</ul>
