// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Signin Form */
.form-signin{
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}

/* Landing Page*/
.text-center{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}



.btn-github {
color: #fff;
background-color: #444;
border-color: rgba(0,0,0,0.2);
}
